/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 1480px){
	
	.header:not(.style-2):not(.style-3) .flex-row > .contact-info{
		display: none;
	}

	.half-bg-col p br,
	.icons-box .icons-item .item-box br{
		display: none;
	}

	.carousel-type-2 .owl-carousel:not(.var2){
		padding: 0 30px;
	}

	.carousel-type-2 .owl-carousel:not(.var2) .owl-nav .owl-prev{
		left: -10px;
	}

	.carousel-type-2 .owl-carousel:not(.var2) .owl-nav .owl-next{
		right: -10px;
	}

}

@media only screen and (min-width: 1480px){
	
	.container.extra{
		width: 1280px;
	}

	.container.extra2{
		width: 1410px;
	}

}

@media only screen and (min-width: 1280px){

	#header.clone-fixed.slideDown{
	    top: 0!important;
	}

	#header.clone-fixed.style-2 .top-header,
	#header.clone-fixed.style-3 .top-header,
	#header.clone-fixed.style-3 .pre-header{
		display: none;
	}

	.icons-box.style-3 .item-box{
      -moz-transform: translateY(110px);
      -webkit-transform: translateY(110px);
      -o-transform: translateY(110px);
      -ms-transform: translateY(110px);
      transform: translateY(110px);
    }

    .icons-box.style-3 .item-box:hover{
      -moz-transform: translateY(0);
      -webkit-transform: translateY(0);
      -o-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }

    .icons-box.style-3 .item-box p,
    .icons-box.style-3 .item-box .info-btn{
      opacity: 0;
      visibility: hidden;

      transition: all .4s ease;
    }

    .icons-box.style-3 .item-box:hover p,
    .icons-box.style-3 .item-box:hover .info-btn{
      opacity: 1;
      visibility: visible;
    }

}

@media only screen and (max-width: 1280px){

	.section-title br{
		display: none;
	}

	#header.sticky-header.clone-fixed{
	    display: none;!important;
	}

	.header:not(.style-2):not(.style-3) .top-header{
	    width: 100%;
	}

		.header:not(.style-2):not(.style-3) .top-header .logo-wrap{
			width: 25%;
		}

		.header:not(.style-2):not(.style-3) .top-header .menu-holder{
			width: 75%;
		}

		.header:not(.style-2) .main-navigation > ul > li{
			margin: 0 15px;
		}

		.header:not(.style-2) .main-navigation > ul > li > a{
			font-size: 14px;
		}

	.fx-col-5 > *{
		width: 50%;
	}

	.rev-slider-wrapper .icons-box.style-3{
		position: relative;
	}

	.rev-slider-wrapper .brand-holder{
		padding: 18px 0;
	}

	.case-popup .popup-inner{
	    width: 50%;
	}

	.services .service-item span.service-title{
		font-size: 24px;
	}

}

@media only screen and (max-width: 1199px){
	
	.services [class*="item-col"]{
		width: 25%;
	}

	.services .item-col-2{
		width: 50%;
	}

	.profile-section .profile-img{
	    width: 38%;
	}

	.profile-section .profile-content{
	    width: 62%;
	}

	.call-out .flex-row{
		display: block;
		text-align: center;
	}

	[class*="scaption"] p{
		font-size: 14px!important;
		line-height: 22px!important;
	}

}

@media (min-width: 992px) and (max-width: 1199px) {
	
	.team-item:hover .team-desc.overlay{
		padding-left: 20px;
		padding-right: 20px;
	}
	
}

@media only screen and (max-width: 992px){

	/*	Mobile Menu
	/* -------------------------------------------------- */

	#header.header.header-main .menu-holder{
		position: relative;
		background-color: rgba(0,0,0,.8);
	    -webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	}

	.main-navigation{display: none!important;}

	.responsive-nav-button { display: inline-block; }

	.mobile-advanced {
		position: absolute;
		top: 0;
		right: -100%;
		z-index: 995;
		overflow: hidden;
		display: block;
		width: 100%;
		height: auto;
		background-color: #fff;
		pointer-events: none;
		-webkit-backface-visibility: hidden;
		-webkit-transform-origin: 0 0;
				transform-origin: 0 0;
		-webkit-transition: -webkit-transform .35s ease;
				transition: transform .35s ease;
		-webkit-transform: translateX(0);
				transform: translateX(0);
	}

	#wrapper.active .mobile-advanced {
		pointer-events: auto;

		-webkit-transform: translate(-100%, 0);
				transform: translate(-100%, 0);		
	}

	.no-cssanimations.no-csstransforms3d #wrapper.active .mobile-advanced {
		right: 0;
	}

		.mobile-advanced > ul { 
			padding-top: 80px; 
		}

			.mobile-advanced li {
				display: block;
				list-style: none;
			}

				.mobile-advanced li > span {
					display: block;
					padding: 10px 15px;
					color: #333;
					font-weight: 400;
				}

				.mobile-advanced li a {
					display: block;
					padding: 10px 20px;
					border-bottom: 1px solid #eaeaea;
					line-height: 1.15em;
				}

				.mobile-advanced > ul > li.current > a,
				.mobile-advanced > ul > li:hover > a{
					background-color: #42687d;
				}

				.mobile-advanced ul ul li.current > a,
				.sub-menu-wrap > ul > li:hover > a{
					color: #42687d;
				}

				.mobile-advanced > ul > li > a{
					background-color: #483949;
					color: #fff;
					font-weight: 400;
					font-size: 16px;
					font-family: 'Roboto Condensed';
				    text-transform: uppercase;
				    font-weight: normal;
				}

				.mobile-advanced ul ul li > a {padding-left: 30px;}

				.mobile-advanced ul ul li > a:before{
					display: inline-block;
				    vertical-align: middle;
				    position: relative;
				    margin-right: 5px;
				    font-size: 14px;
				    font-family: 'fontello';
				    content: "\f105";
				}

					.mobile-advanced ul ul ul li > a  { padding-left: 55px; }

		#advanced-menu-hide{
			position: fixed;
			top: 20px;
			right: 30px;
			z-index: 999;
			display: block;
			text-align: center;
			color: #483949;

			-webkit-backface-visibility: hidden;
					backface-visibility: hidden;
			-webkit-border-radius: 3px;
					border-radius: 3px;
			
		}

		.logged-in.admin-bar #advanced-menu-hide{top: 55px;}

		#wrapper.active #advanced-menu-hide{
			visibility: visible;
			pointer-events: auto;

			-webkit-transform: translateX(0);
					transform: translateX(0);
		}

		#advanced-menu-hide:after{
			content: '\e92a';
		    vertical-align: middle;
		    text-align: center;
		    font-size: 30px;
		    font-family: 'linearicons';
		    line-height: 38px;
		}

		#advanced-menu-hide:hover{color: #42687d;}

		.mobile-advanced > ul > li.dropdown .sub-menu-wrap,
		.mobile-advanced > ul > li.dropdown .sub-menu-wrap.sub-menu-inner{
			position: relative;
			width: 100%;
			opacity: 1;
			visibility: visible;
			left: 0;
			right: 0;
			border: none;
			padding: 0;
			margin: 0;

			-webkit-transform: none;
			-ms-transform: none;
			-o-transform: none;
			transform: none;
		}

		.sub-menu-wrap ul li:hover{background: transparent!important;}

		.sub-menu-wrap ul li{padding: 0;}

		.sub-menu-wrap ul li.current-menu-item{background: none!important;}

	.toggle-menu { display: block; }

	.sub-menu-wrap.mega-menu > *{
        width: 100%;
    }

    .sub-menu-wrap.mega-menu > *:not(:last-child){
        margin-right: 0;
        margin-bottom: 0;
    }

	/* ------------------------------------------------------------------------------ */

	.flex-row [class*="col-md"]:not([class*="col-sm"]):not([class*="col-xs"]){
		width: 100%;
	}
	
	[class*="col-md-12"]:not(:last-child),
	[class*="col-md-"].col-sm-12:not(:last-child){
	    margin-bottom: 45px;
	}

	[class*="page-section"].half-bg-col:not(.two-cols){
		padding-top: 0;
		padding-bottom: 72px;
	}

	.half-bg-col:not(.two-cols) [class*="img-col"]{
	    padding-bottom: 50%;
	    margin-bottom: 72px;
	    position: relative;
	    width: 100%;
	}

	.half-bg-col.two-cols [class*="img-col"]{
		width: 100%;
	}

	.half-bg-col.two-cols [class*="img-col"] .col-bg{
		height: 50%;
	}

	.half-bg-col.two-cols .img-col-right .col-bg{
		top: auto;
		bottom: 0;
	}

	.header{
		padding: 0;
	}

	.header:not(.style-2):not(.style-3) .menu-wrap{
		padding: 20px;
	}

	.header:not(.style-2):not(.style-3) .top-header .logo-wrap{
		width: 50%;
	}

	.header:not(.style-2):not(.style-3) .top-header .menu-holder{
		width: 50%;
	}

	.searchform-wrap .vc-child{
		width: 80%;
	}

	.rev-slider-wrapper .side-bar{
		width: 100px;
		padding: 140px 40px 20px;
	}

	.rev-slider-wrapper.full-scr .rev-slider{
		margin-left: 100px;
	}

	.team-member .member-photo img{
		width: 100%;
	}

	.fx-col-3 > *{
		width: 50%;
	}

	.half-bg-col.two-cols,
	.half-bg-col.two-cols .page-section-bg{
		padding: 0;
	}

	.half-bg-col.two-cols .row{
		margin: 0 -15px;
	}

	.half-bg-col.two-cols > .container > .row > [class*="col-"]{
		padding: 70px 15px;
		margin-bottom: 0!important;
	}

	.isotope.four-collumn .item{
		width: 33.3333%;
	}

	.profile-section .profile-img,
	.profile-section .profile-content{
	    width: 100%;
	}

	.profile-section .profile-content .prof-inner{
		padding: 41px 0;
	}

	.team-item:hover .team-desc.overlay{
	    height: 100%;
	}

}

@media (min-width: 992px){

	.push-left-30{
		padding-left: 30px;
	}
	
}

@media (max-width:769px){
	
	.flex-row [class*="col-sm-"]:not([class*="col-xs"]){
		width: 100%;
	}
	
	[class*="col-sm-"]:not(:last-child):not(.col-no-space){
		margin-bottom: 45px;
	}

	.fx-col-5 > *{
		width: 50%;
	}

	.pricing-tables-holder.cols-3 .pricing-col{
		width: 50%;
	}

	.header.style-2 .top-header .flex-row > *{
		width: 100%;
		text-align: center;
	}

	.header.style-2 .top-header .contact-info{
		display: inline-block;
	}

	.services [class*="item-col"]{
		width: 33.333%;
	}

	.services .item-col-2{
		width: 66.666%;
	}

	.isotope.three-collumn .item{
		width: 50%;
	}

	.isotope.four-collumn .item{
		width: 50%;
	}

	.case-popup .popup-inner{
		top: 450px;
	    width: 80%;
	}

	.coming-soon h1{
		font-size: 48px;
	}

	.coming-soon{
		padding-top: 350px;
	}

	.tp-caption p{
		display: none!important;
	}

}

@media (min-width:769px){

	.table-row{
	    margin-left: 0px;
	    margin-right: 0px;
	    display: table;
	    width: 100%;
	    table-layout: fixed;
	}

		.table-row > [class*="col-sm-"]{
		    float: none;
		    display: table-cell;
		    vertical-align: middle;
		}

		.table-row > [class*="col-"]:first-child{
		    padding-left: 0px;
		}

		.table-row > [class*="col-"]:last-child{
		    padding-right: 0px;
		}

	.media-holder.style-2.var2 .media-inner{
	  left: auto;
	  right: 25%;
	  transform: none;
	}

	.header.style-2 .top-header .flex-row > *:last-child{
		text-align: right;
	}

}

@media (min-width: 769px) and (max-width: 992px) {

	
}

@media only screen and (max-width:480px){

	[class*="col-xs-"]{
		float: none;
		width: 100%;
	}

	[class*="col-xs-"]:not(:last-child){
		margin-bottom: 28px;
	}

	[class*="fx-col-"] > *,
	.pricing-tables-holder.cols-3 .pricing-col{
		width: 100%;
	}

	.tabs .tabs-nav li{
		float: none;
		display: block;
	}

	.tabs:not(.style-2) .tabs-nav > li:not(:first-child) > a{
		margin: 0 0 1px 0;
	}

	.tabs.style-2 .tabs-nav > li > a{
		padding: 14px 0;
	}

	.tabs.style-2 .tabs-nav > li:not(:last-child) > a{
		border-bottom: 1px solid #e4e4e5;
		border-right: none;
	}

	.tabs.vertical{
		display: block;
	}

	.tabs.vertical .tabs-nav,
	.tabs.vertical .tabs-content{
		width: 100%;
	}

	.tabs.vertical.style-2 .tabs-content{
		margin-left: 0;
	}

	.btns-set .flex-row{
		justify-content: inherit;
	}

	.header .top-header .logo-wrap,
	.header .top-header .menu-holder{
		width: 100%;
	}

	.searchform-wrap .close-search-form{
		margin-left: 10px;
	}

	.header.style-3 .top-header .flex-row > *:not(:last-child){
		margin-bottom: 20px;
	}

	.media-inner h1{
		font-size: 48px;
		line-height: 56px;
	}

	.media-holder.style-2.var2 .media-inner{
		top: 230px;
		left: 15px;
	}

	.header.style-3 .top-header .contact-info{
	    padding-right: 0;
	}

	.header.style-2 .top-header .flex-row > *{
	 	width: 100%;
	}

	.fx-col-3 > *{
		width: 100%;
	}

	.services [class*="item-col"],
	.services .service-item figure img{
		width: 100%;
	}

	.breadcrumbs-wrap .page-title{
		font-size: 48px;
		line-height: 56px;
	}

	.search-holder .btn:not(:last-child){
		margin-right: 10px;
	}

	.isotope.three-collumn .item{
		width: 100%;
	}

	.isotope.four-collumn .item{
		width: 100%;
	}

	.header:not(.style-2):not(.style-3) .menu-wrap{
		padding: 0 20px;
	}

	.entry-box.entry-small .entry .thumbnail-attachment,
	.comment-info,
	.comment-author{
		float: none;
	}

	#sidebar .entry-box.entry-small .entry .thumbnail-attachment:not(:last-child){
		margin-right: 0;
		margin-bottom: 18px;
	}

	.comments-list .children .comment{
		margin-left: 28px;
	}

	.rev-slider-wrapper .brand-holder{
		padding: 18px 0;
		position: relative;
		background: #483949;
	}

}

@media only screen and (max-width:320px){


}

@media (max-height: 750px){

	.rev-slider-wrapper .side-bar{
		padding-top: 70px;
	}

	.side-bar .social-icons.v-type{
		display: none;
	}

}

@media (max-height: 450px){

	.rev-slider-wrapper .side-bar p.v-text,
	.side-bar .social-icons.v-type{
		display: none;
	}

}